.producto_container {
    display:block;
    background-color: black;
}

.btn_producto{
    margin-left: 3%;
    margin-right: 3%;
    max-width: 50%;
}

.botones_producto{
    text-align: center;
}

.producto_item {
    position: relative;
}

#imagen_producto {
    max-width: 50%;
    margin: auto;
}

#tramitar_cesta {
    margin-top: 30px;
}