.container{
    margin-top: 15px;
}

#tramitar_cesta {
    color:white;
    margin-top: 10%;
}
#btn_tramitar {
      margin-top: 10%;
      margin: auto;
}
.card-header{
    text-align: center;
}
#div_busqueda_productos {
    padding-top: 10px;
    padding-bottom: 10px;
}
#div_lateral {	
    position : absolute;
    height: 100%;
    background-color: #34302F;
}
.checkbox_filtro{
    color: white;
}